body {
  background-image: url(./icon/—Pngtree—green\ backgrounds\ wallpapers\ photos\ graphics_1444977.jpg);
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}
.App1 {
 
    margin-left: 100px;
  

}
.App1 h1 {
  margin-left: 200px;
}

/* loginForm.module.css */

.loginpage {
  display: flex;
  flex-direction: column; /* Change flex-direction to column for vertical alignment */
  align-items: center; /* Align items in the center vertically */
}

.loginpage form {
  display: flex; /* Use flexbox to display form elements horizontally */
  flex-direction: row; /* Set the direction of form elements to row (horizontal) */
  gap: 10px; /* Add some spacing between the buttons */
  justify-content: center; /* Center the form elements horizontally */
}


.loginpage h5{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
} 



.loginpage label {
  margin-top: 10px;
}

.loginpage input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #B5D99C;
  border-radius: 3px;
}

.loginpage button {
  padding: 10px;
  margin-top: 10px;
  background-color: #D7F205;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.loginpage button[type='submit'] {
  background-color: #B5D99C;
}


